<footer class="px-4 sm:px-6 bg-bgr mt-16{{#is "signin,signup"}} hidden{{/is}}" data-footer>
  <div class="max-w-container mx-auto relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-[1px] before:bg-fading">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 py-8 md:gap-8 md:py-12">
      {{!-- Brand --}}
      <div class="flex flex-col items-start gap-3 col-span-2 md:col-span-1 lg:col-span-2" data-footer-brand>
        <a href="{{@site.url}}" data-brand>
          {{> logo loading="lazy"}}
        </a>

        {{!-- Description --}}
        <p class="text-typ-tone">{{@site.description}}</p>

        {{!-- Social media --}}
        {{> social-links 
          data_value="footer"
          nav_class="flex items-center gap-2 text-typ-tone text-base"
          item_class="p-2 border border-brd bg-bgr rounded-theme hover:bg-bgr-tone hover:text-brand hover:border-brand"
          icon_class="w-4 h-4 stroke-2"
          text_class="sr-only"
        }}
      </div>

      <span class="hidden lg:block"></span>

      {{!-- Primary Navigation --}}
      <div class="flex flex-col gap-2 mt-2" data-footer-nav="primary">
        <span class="font-semibold">{{@site.title}}</span>
        <nav class="">
          {{navigation 
            ul_class="flex flex-col items-start gap-2 text-typ-tone text-sm"
            li_class="flex flex-col relative"
            a_class="flex hover:text-brand"
          }}
        </nav>
      </div>

      {{!-- Secondary Navigation --}}
      {{#if @site.secondary_navigation}}
        <div class="flex flex-col gap-2 mt-2" data-footer-nav="secondary">
          <span class="font-semibold">{{t "Legal"}}</span>
          <nav class="">
            {{navigation 
              type="secondary"
              ul_class="flex flex-col items-start gap-2 text-typ-tone text-sm"
              li_class="flex flex-col relative"
              a_class="flex hover:text-brand"
            }}
          </nav>
        </div>
      {{/if}}

      {{!-- Categories --}}
      {{#if @custom.featured_tags}}
        {{#get "tags" filter="slug:[{{@custom.featured_tags}}]" include="count.posts" limit="all"}}
          {{#if tags}}
            <div class="flex flex-col gap-2 mt-2" data-footer-nav="categories">
              <span class="font-semibold">{{t "Categories"}}</span>
              <nav class="">
                <ul class="flex flex-col items-start gap-2 text-typ-tone text-sm">
                  {{#foreach tags}}
                    <li class="flex flex-col relative">
                      <a href="{{url}}" class="flex hover:text-brand">{{name}}</a>
                    </li>
                  {{/foreach}}
                </ul>
              </nav>
            </div>
          {{/if}}
        {{/get}}
      {{/if}}
    </div>


    {{!-- Copy & Color scheme --}}
    <div class="py-4 md:py-6 flex flex-wrap items-center gap-2 relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-[1px] before:bg-fading">
      <div class="text-sm text-typ-tone">
        <span data-footer-date>&copy;{{date format="YYYY"}}&nbsp;{{#link href=@site.url class="hover:underline"}}{{@site.title}}{{/link}}.</span>
        <span data-footer-ghost>{{t "Published with"}}&nbsp;{{#link href="https://ghost.org" class="hover:underline"}}Ghost{{/link}}</span>
        <span data-footer-theme>&&nbsp;{{#link href="https://brightthemes.com/themes/flair" class="hover:underline"}}Flair{{/link}}.</span>
      </div>

      {{> toggle-color-scheme}}
    </div>
  </div>
</footer>