<header class="header-area top-0 left-0 right-0 py-4 lg:py-4 z-[250] bg-white max-h-24">
   <div class="container mx-auto">
      <div class="flex items-center relative">
         <div class="header-logo flex-auto lg:flex-none"> <a class="pr-8 inline-block"
            href="/">
            {{#if @site.logo}}
            <img  class="max-h-16" src="{{@site.logo}}" alt="{{title}}">
            {{else}}
            <span class="text-2xl w-5 font-bold font-serif text-gray-800"> {{@site.title}}</span>    
            {{/if}}
            </a> 
         </div>
         <div class="mobile-menu bg-white hidden lg:flex flex-1 items-center shadow-xl lg:shadow-none">
            {{navigation}}
         </div>
         <a class="popup-with-form flex lg:hidden items-center p-2"  href="#/search">
            <svg
               class="w-6 h-6 text-gray-800" fill="none" stroke="currentcolor"
               viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
               <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
         </a>
         <button class="mobile-toggle items-center block lg:hidden" aria-label="Menu Button"> <span
            class="bg-gray-800"></span> <span class="bg-gray-800"></span> <span
            class="bg-gray-800"></span>
         </button>
         <div class="hidden lg:flex items-center">
            <a
               class="popup-with-form flex items-center px-6 py-3 text-base text-gray-400 hover:bg-blue-50 rounded-full hover:text-blue-800 group duration-300 ml-4 font-medium"
               href="#/search">
               <span class="mr-2">
                  <svg
                     class="w-5 h-5 text-gray-400 group-hover:text-blue-800"
                     fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                     <path stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
               </span>
               {{t "Search"}} 
            </a>

            <!--
            {{#if @site.members_enabled}}
            {{#unless @member}}
            <a href="#/portal/signup"
               class="text-base text-white font-medium bg-black bg-size-200 bg-pos-0 hover:bg-pos-100 transition-all duration-300 py-3 px-8 rounded-full ml-4">{{t
            "Subscribe"}}</a>
            {{else}}
            <a href="#/portal/account"
               class="text-base text-white font-medium bg-black bg-size-200 bg-pos-0 hover:bg-pos-100 transition-all duration-300 py-3 px-8 rounded-full ml-4">{{t
            "Account"}}</a>
            {{/unless}}
            {{/if}}
            -->
            <div data-tf-live="01HSGRCYW5ZY7YRZWTJNH1YMDG"></div><script src="//embed.typeform.com/next/embed.js"></script>
         </div>
      </div>
   </div>
</header>