<header class="px-4 sm:px-6 text-typ whitespace-nowrap{{#if @custom.sticky_header}} sticky top-0 z-[1000] bg-bgr lg:bg-transparent{{/if}}{{#is "signin,signup"}} hidden{{/is}}"  data-header x-init="renderSubmenus(){{#if @custom.sticky_header}};window.pageYOffset > 50 ? isScrolledOnload = true : null{{/if}}"
  {{#if @custom.sticky_header}}x-data="{ isScrolled: false, isScrolledOnload: false }" @scroll.window="isScrolled = (window.pageYOffset < 50) ? false : true;window.pageYOffset <= 50 ? isScrolledOnload = false : null" :class="[isScrolled ? 'is-scrolled' : '',isScrolledOnload ? 'is-scrolled-onload' : '']"{{/if}}>
  <div class="max-w-container mx-auto py-4 md:py-6 flex items-center justify-center gap-4 relative before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1px] before:bg-fading">

    {{!-- Brand --}}
    <div class="flex-1 flex justify-start lg:transition-move duration-300" data-header-brand>
      {{!-- <a class="" href="{{@site.url}}" data-brand>
        {{> logo loading="eager"}}
      </a> --}}
    </div>

    {{!-- Navigation --}}
    <nav class="relative hidden transition-[width,filter] duration-300 text-sm lg:flex justify-center p-1 border border-brd rounded-theme-lg{{#if @custom.sticky_header}}  bg-bgr-opac backdrop-blur{{/if}}" data-nav="desktop" {{#if @custom.sticky_header}} :class="isScrolled ? 'drop-shadow-xl' : ''"{{/if}}>
      {{navigation 
        ul_class="flex gap-0.5"
        li_class="flex relative border border-transparent hover:bg-bgr-tone rounded-theme"
        a_class="w-full flex px-4 py-1.5 rounded-theme"
      }}

      {{!-- Nav CTA--}}
      {{#match @custom.header_action "cta"}}
        {{#if @custom.cta_text}}
          <a href="{{@custom.cta_link}}" data-nav-cta
            class="flex items-center justify-center opacity-0 w-0 p-0 translate-x-full shadow-btn border border-b-0 border-opac bg-brand text-sm font-medium text-brand-contrast py-1.5 rounded-theme transition-all duration-200 hover:brightness-105 hover:shadow-btn-hover">
            <span>{{@custom.cta_text}}</span>
          </a>
        {{/if}}
      {{/match}}
    </nav>

    {{!-- Actions --}}
    <div class="flex flex-1 gap-2 items-center justify-end transition-move duration-300" data-header-actions>

      {{!-- Search button --}}
      {{!-- <button class="hidden sm:flex items-center justify-center rounded-theme size-8 md:size-9 hover:text-brand" data-ghost-search title="{{t "Search"}}" aria-label="{{t "Search"}}">
        {{> icon name="search" icon_class="w-5 h-5 stroke-2"}}
      </button> --}}

      {{!-- Header action: CTA --}}
      {{#match @custom.header_action "cta"}}
        {{#if @custom.cta_text}}
          <a href="{{@custom.cta_link}}" 
            class="shadow-btn border border-b-0 border-opac bg-brand text-sm font-medium text-brand-contrast px-4 py-2 rounded-theme md:px-5 transition duration-300 hover:brightness-105 hover:shadow-btn-hover">
            <span>{{@custom.cta_text}}</span>
          </a>
        {{/if}}
      {{/match}}

      {{!-- Header action: Sign in/Sign up --}}
      {{#match @custom.header_action "signin-signup"}}
        {{#if @site.members_enabled}}
          {{#unless @member}}
            <a href="/signin/" data-portal="signin"
              class="hidden sm:block border border-transparent text-sm px-4 py-2 rounded-theme hover:border-brd">
              <span>{{t "Sign in"}}</span>
            </a>
            <a href="/signup/" data-portal="signup"
              class="shadow-btn border border-b-0 border-opac bg-brand text-sm font-medium text-brand-contrast px-4 py-2 rounded-theme md:px-5 transition duration-300 hover:brightness-105 hover:shadow-btn-hover">
              <span>{{t "Sign up"}}</span>
            </a>
          {{/unless}}
        {{/if}}
      {{/match}}

      {{!-- Header action: Subscribe --}}
      {{#match @custom.header_action "subscribe"}}
        {{#unless @member}}
          <a href="/subscribe/" data-portal="subscribe"
            class="shadow-btn border border-b-0 border-opac bg-brand text-sm font-medium text-brand-contrast px-4 py-2 rounded-theme md:px-5 transition duration-300 hover:brightness-105 hover:shadow-btn-hover">
            <span>{{t "Subscribe"}}</span>
          </a>
        {{/unless}}
      {{/match}}

      {{!-- Member/User button --}}
      {{#if @member}}
        <button class="ml-1 relative size-8 md:size-9 hover:text-brand" data-portal="account" aria-label="{{@member.name}}">
          <img class="border border-opac shadow relative size-8 md:size-9 rounded-full" 
            src="{{@member.avatar_image}}"
            alt="{{@member.name}}">
          {{>icon name="user" icon_class="absolute z-[-1] size-7 stroke-[1.5] inset-0.5 md:inset-1"}}
        </button>
      {{/if}}

      {{!-- Menu button --}}
      <button class="flex flex-col gap-1.5 size-8 md:size-9 items-center justify-center rounded-theme group hover:text-brand lg:hidden" 
        data-menu-toggle aria-label="{{t "Menu toggle"}}" aria-expanded="false" aria-haspopup="true" aria-controls="menu"
        @click="menuOpen = !menuOpen; event.currentTarget.setAttribute('aria-expanded', menuOpen);"
      >
        <span class="relative pointer-events-none w-5 h-0.5 rounded-sm bg-typ-tone group-hover:bg-brand transition-all"
          :class="menuOpen ? 'rotate-45 top-1' : 'rotate-0 top-0'"></span>
        <span class="relative pointer-events-none w-5 h-0.5 rounded-sm bg-typ-tone group-hover:bg-brand transition-all"
          :class="menuOpen ? '-rotate-45 -top-1' : ''"></span>
      </button>
    </div>

  </div>
</header>