{{#post}}
<div class="hero-area relative pt-10 lg:pt-20 ">
   <div class="container mx-auto">
      <div class="hero-box-3 relative grid gap-6 grid-cols-1 lg:grid-cols-12 items-center text-center lg:text-left">
         {{#if feature_image}}
         <div class="lg:col-span-8">
            <div class="hero-content lg:flex flex-wrap text-center lg:text-left relative lg:pr-14">
               <h4 class="font-serif !leading-normal text-4xl lg:text-6xl text-gray-800 font-bold  mb-2">{{title}}
               </h4>
               {{#if custom_excerpt}} 
               <p class="text-md lg:text-lg text-gray-400 font-normal">{{custom_excerpt}}</p>
               {{/if}}  
            </div>
         </div>
         <div class="lg:col-span-4">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
         {{else}} 
         <div class="lg:col-span-12">
            <div class="hero-content   text-center  relative lg:pr-14 mx-auto">
               <h4 class="font-serif !leading-normal text-4xl lg:text-6xl text-gray-800 font-bold  mb-0">{{title}}
               </h4>
               {{#if custom_excerpt}}
               <p class="text-lg text-gray-400 font-normal">{{custom_excerpt}}</p>
               {{/if}}
            </div>
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/post}}