{{#match home "one"}}
<div class="hero-area relative overflow-hidden pt-20 ">
   <div class="container mx-auto">
      <div class="hero-box-1 grid items-center sm:grid-cols-2 lg:grid-cols-12 gap-24">
         <div class="hero-cotent relative lg:col-span-7">
            <h1 class="font-serif text-4xl lg:text-5xl xl:text-6xl text-gray-800 font-bold  mb-12 !leading-tight">{{@site.title}}</h1>
            {{#if @site.description}}
            <h4 class="text-xl text-gray-400 font-normal mb-12">{{@site.description}}</h4>
            {{/if}}
            <a href="https://www.umh.app/?cta=lrn2"
               class="hero-btn-2 inline-block px-10 py-4 font-medium text-lg text-white  bg-umh-blue hover:bg-blue-800 rounded-full hover:text-white group duration-300 mr-4 mb-2 ">{{t "About UMH"}}</a>
            <a href="/community/?cta=lrn3"
               class="hero-btn-1 inline-block px-10 py-4 font-medium text-lg text-gray-400  bg-blue-50 hover:bg-blue-800 rounded-full hover:text-white group duration-300 mr-4 mb-2 ">{{t "Join Our Community"}}</a>
         </div>
         {{#if @site.cover_image}}
         <div class="feature-image relative lg:col-span-5">
            <img class="w-full h-96 object-cover rounded-xl learn-cover-img" width="750" height="923" src="{{@site.cover_image}}"
               alt="{{@site.title}}">
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/match}}
{{#match home "two"}}
<div class="hero-area relative overflow-hidden pt-20 xl:pt-28 mt-16">
   <div class="container mx-auto">
      <div class="hero-box-2">
         <div class="hero-cotent text-center relative max-w-4xl mx-auto">
            <h1 class="font-serif text-4xl lg:text-5xl xl:text-6xl text-gray-800 font-bold  mb-8 !leading-tight"> {{@site.title}}</h1>
            {{#if @site.description}} 
            <h4 class="text-xl text-gray-400 font-normal mb-12">{{@site.description}}</h4>
            {{/if}}
            <a href="#/portal/signup" class="subscribe-form">
               <div class="md:flex gap-4 relative max-w-2xl mx-auto">
                  <span type="search"
                     class="block px-6 py-4 md:px-8 md:py-5 w-full text-base text-gray-400 bg-blue-50 rounded-full border border-blue-100 focus:text-blue-800 focus:border-blue-800 placeholder-gray-600 outline-none duration-300">{{t
                  "Enter your email"}}</span> <button type="submit"
                     class="text-base text-white font-bold bg-gradient-to-r to-blue-800 via-blue-200 from-blue-800 bg-size-200 bg-pos-0 hover:bg-pos-100 transition-all duration-300 rounded-full w-full md:w-fit relative outline-none px-10 py-4 mt-6 md:mt-0">{{t
                  "Subscribe"}}</button>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
{{/match}}
{{#match course_style "one"}}
<div class="hero-area relative pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="hero-box-3 relative grid gap-8 grid-cols-1 lg:grid-cols-12 items-center text-left">
         <div class="lg:col-span-7 pr-10">
            <div
               class=" hero-content flex flex-wrap content-center relative top-0 bottom-0 left-0 max-w-[860px] z-10">
               {{#foreach tags visibility="internal" limit="1"}}
               {{#get "posts" filter="tag:[hash-lesson]+tag:{{slug}}" order="title asc" include="tags,authors"}}
               <p class="mb-2 text-base leading-relaxed text-blue-800 font-bold">{{plural posts.length empty='No Lessons
                  available' singular='Total % Lessons available' plural='Total % Lessons available'}} 
               </p>
               {{/get}}
               {{/foreach}}
               <h1 class="font-serif !leading-tight text-4xl lg:text-5xl text-gray-800 font-bold  mb-6">{{title}}
               </h1>
               {{#if custom_excerpt}}
               <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
               {{/if}}

      
 

 <div class="w-full">
               {{#primary_author}}
               <div class="author flex items-center">
                  <img class="w-10 h-10 rounded-full object-cover" src="{{img_url profile_image}}" alt="{{name}}">
                  <div class="course-content ml-2">
                     <h6 class="font-serif text-base text-gray-800 hover:text-blue-800 font-bold duration-300">
                        <a href="{{url}}">{{name}}</a>
                     </h6>
                     {{#if location}}
                     <p class="text-sm text-gray-400 font-normal opacity-60">{{location}}</p>
                     {{/if}}
                  </div>
               </div>
               {{/primary_author}}
               </div>
            </div>
         </div>
           {{#if feature_image}}
         <div class="lg:col-span-5">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
           {{/if}}
      </div>
   </div>
</div>
{{/match}}
{{#match course_style "two"}}
<div class="hero-area relative pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="hero-box-3 relative grid gap-8 grid-cols-1 lg:grid-cols-12 items-center text-left">
         <div class="lg:col-span-7 pr-10">
            <div
               class=" hero-content flex flex-wrap content-center relative top-0 bottom-0 left-0 max-w-[860px] z-10">
               <h1 class="font-serif !leading-tight text-4xl lg:text-5xl text-gray-800 font-bold  mb-6">{{title}}
               </h1>
               {{#if custom_excerpt}}
               <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
               {{/if}}
               {{#primary_author}}
               <div class="author flex items-center">
                  <img class="w-10 h-10 rounded-full object-cover" src="{{img_url profile_image}}" alt="{{name}}">
                  <div class="course-content ml-2">
                     <h6 class="font-serif text-base text-gray-800 hover:text-blue-800 font-bold duration-300">
                        <a href="{{url}}">{{name}}</a>
                     </h6>
                     {{#if location}}
                     <p class="text-sm text-gray-400 font-normal opacity-60">{{location}}</p>
                     {{/if}}
                  </div>
               </div>
               {{/primary_author}}
            </div>
         </div>
          {{#if feature_image}}
         <div class="lg:col-span-5">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/match}}
{{#match course_style "micro-course"}}
<div class="hero-area relative pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="hero-box-3 relative grid gap-8 grid-cols-1 lg:grid-cols-12 items-center text-left">
         <div class="lg:col-span-7 pr-10">
            <div
               class=" hero-content flex flex-wrap content-center relative top-0 bottom-0 left-0 max-w-[860px] z-10">
               {{#foreach tags limit="2"}}
               <a href="{{url}}"
                  class="mr-2 inline-block px-6 py-2 text-sm font-medium border border-blue-200 rounded-full hover:text-blue-800 group duration-300 mb-4">{{name}}</a>
               {{/foreach}}
               <h1 class="font-serif !leading-tight text-4xl lg:text-5xl text-gray-800 font-bold  mb-6">{{title}}
               </h1>
               {{#if custom_excerpt}}
               <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
               {{/if}}
               {{#primary_author}}
               <div class="author flex items-center">
                  <img class="w-10 h-10 rounded-full object-cover" src="{{img_url profile_image}}" alt="{{name}}">
                  <div class="course-content ml-2">
                     <h6 class="font-serif text-base text-gray-800 hover:text-blue-800 font-bold duration-300">
                        <a href="{{url}}">{{name}}</a>
                     </h6>
                     {{#if location}}
                     <p class="text-sm text-gray-400 font-normal opacity-60">{{location}}</p>
                     {{/if}}
                  </div>
               </div>
               {{/primary_author}}
            </div>
         </div>
          {{#if feature_image}}
         <div class="lg:col-span-5">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/match}}
{{#match lesson_style "one"}}
<div class="hero-area relative pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="page-title-box">
         <div class="section-title text-center max-w-screen-lg mx-auto">
            <h1 class="w-full font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-8">{{title}}</h1>
            {{> single-author-info}}
            {{#if custom_excerpt}}
            <p class="text-xl text-gray-400 font-normal mt-6">{{custom_excerpt}}</p>
            {{/if}}
         </div>
      </div>
   </div>
</div>
{{/match}}
{{#match lesson_style "two"}}
<div class="hero-area  relative py-20 xl:py-20 ">
   <div class="container mx-auto">
      <div class="hero-box-3 relative grid gap-8 grid-cols-1 lg:grid-cols-12 items-center text-left">
         <div class="lg:col-span-8">
            <div class="hero-content   text-left relative lg:pr-14">
               <p class="text-base text-gray-100 font-medium">
                  {{#foreach tags visibility="internal" limit="1"}}
                  {{#get "posts" include ="tags" filter="tag:{{slug}}+tag:hash-course"}}
                  {{#if posts}}
                  {{#foreach posts}}
                  <a class="mb-2 text-sm px-3 py-1  bg-blue-800 text-white rounded" href="{{url}}">{{title}}</a> <br>
                  {{/foreach}}
                  {{/if}}
                  {{/get}}
                  {{/foreach}}
               </p>
               <h1 class="font-serif !leading-tight text-4xl lg:text-5xl text-gray-800 font-bold  mb-6">{{title}}
               </h1>
               {{#if custom_excerpt}}
               <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
               {{/if}}
               {{#primary_author}}
               <div class="author flex items-center">
                  <img class="w-10 h-10 rounded-full object-cover" src="{{img_url profile_image}}" alt="{{name}}">
                  <div class="course-content ml-2">
                     <h6 class="font-serif text-base text-gray-800 hover:text-blue-800 font-bold duration-300">
                        <a href="{{url}}">{{name}}</a>
                     </h6>
                     {{#if location}}
                     <p class="text-sm text-gray-400 font-normal opacity-60">{{location}}</p>
                     {{/if}}
                  </div>
               </div>
               {{/primary_author}}
            </div>
         </div>
         {{#if feature_image}}
         <div class="lg:col-span-4">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/match}}
{{#match lesson_style "three"}}
<div class="hero-area  relative pt-10 xl:pt-20 pb-10 xl:pb-20 ">
   <div class="container mx-auto">
      <div class="hero-box-3 relative grid gap-8 grid-cols-1 lg:grid-cols-12 items-center text-left">
         <div class="lg:col-span-8">
            <div class="hero-content lg:flex flex-wrap text-left relative lg:pr-14">
               {{#foreach tags limit="2"}}
               <a href="{{url}}"
                  class="mr-2 inline-block px-6 py-2 text-sm font-medium border border-blue-200 rounded-full hover:text-blue-800 group duration-300 mb-4">{{name}}</a>
               {{/foreach}}
               {{#if featured}}
               <div class="mr-2 inline-block px-6 py-2 text-sm font-medium border border-blue-200 rounded-full hover:text-blue-800 group duration-300 mb-4">
                  {{t "Featured"}}
               </div>
               {{/if}}
               <h1 class="w-full font-serif !leading-tight text-4xl lg:text-5xl text-gray-800 font-bold  mb-6">{{title}}</h1>
                {{#if custom_excerpt}}
            <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
            {{/if}}
               <div class="w-full">
{{> single-author-info}}
               </div>
               
            </div>
         </div>
         {{#if feature_image}}
         <div class="lg:col-span-4">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/match}}
{{#match post_style "one"}}
<div class="hero-area relative pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="page-title-box">
         <div class="section-title max-w-screen-lg mx-auto  mb-20">
            <h1 class="w-full font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-8">{{title}}</h1>
              {{#if custom_excerpt}}
            <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
            {{/if}}
            {{> single-author-info}}
       
         </div>
      </div>
   </div>
</div>
{{/match}}
{{#match page_style "one"}}
<div class="hero-area relative pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="page-title-box">
         <div class="section-title gh-canvas max-w-4xl mx-auto  mb-20">
            <h1 class="w-full font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-8">{{title}}</h1>
              {{#if custom_excerpt}}
            <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
            {{/if}}         
         </div>
      </div>
   </div>
</div>
{{/match}}
{{#match page_style "two"}}
<div class="hero-area  relative pt-10 xl:pt-20 pb-10 xl:pb-20 ">
   <div class="container mx-auto ">
      <div class="hero-box-3  relative grid gap-8 grid-cols-1 lg:grid-cols-12 items-center text-left">
         <div class="lg:col-span-8">
            <div class="hero-content lg:flex flex-wrap text-left relative lg:pr-14">
               {{#foreach tags limit="2"}}
               <a href="{{url}}"
                  class="mr-2 inline-block px-6 py-2 text-sm font-medium border border-blue-200 rounded-full hover:text-blue-800 group duration-300 mb-4">{{name}}</a>
               {{/foreach}}
               {{#if featured}}
               <div class="mr-2 inline-block px-6 py-2 text-sm font-medium border border-blue-200 rounded-full hover:text-blue-800 group duration-300 mb-4">
                  {{t "Featured"}}
               </div>
               {{/if}}
               <h1 class="w-full font-serif !leading-tight text-4xl lg:text-5xl text-gray-800 font-bold  mb-6">{{title}}</h1>
                {{#if custom_excerpt}}
            <p class="text-xl text-gray-400 font-normal mb-6">{{custom_excerpt}}</p>
            {{/if}}     
               
            </div>
         </div>
         {{#if feature_image}}
         <div class="lg:col-span-4">
            <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
               <img class="w-full rounded-xl" src="{{img_url feature_image}}" alt="{{title}}">
            </div>
         </div>
         {{/if}}
      </div>
   </div>
</div>
{{/match}}
