{{#match style "one"}}
{{#get "posts" include="tags,authors" filter="tag:-[hash-course, hash-lesson]" limit="3"}}
{{#if posts}}
<section class="articles-area pt-20 xl:pt-28  ">
   <div class="container mx-auto">
      <div class="grid xl:grid-cols-12 gap-8">
         <div class="xl:col-span-6">
            <div class="section-title  max-w-lg sticky top-40 mb-8">
               <h2 class="font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-6">{{t "Latest Articles"}} </h2>
               <p class="text-lg leading-relaxed text-gray-400 font-normal mb-8">Explore the latest news, update and articles here </p>
               <a href="/blog/" class="inline-block px-8 py-4 text-base font-medium text-blue-800 border border-blue-200 hover:bg-blue-50 rounded-full hover:text-blue-800 group duration-300">{{t "View All Article"}}</a>
            </div>
         </div>
         <div class="xl:col-span-6">
            <div class="lesson-list sticky top-0">
               {{#foreach posts }}
               <div data-aos="fade-up" data-aos-delay="0">
                  <div
                     class="lesson-box-1 rounded-lg grid gap-6 lg:grid-cols-12 items-center group hover:shadow-lg hover:-translate-y-1 duration-300 p-6">
                     <div class="lg:col-span-8">
                        <div class="lesson-content">
                           <h4
                              class="font-serif text-xl text-gray-800 hover:text-blue-800 font-bold mb-2 duration-300">
                              <a href="{{url}}">{{title}}</a>
                           </h4>
                           <p class="text-base leading-relaxed text-gray-400 font-normal opacity-60">{{date published_at format="MMMM DD, YYYY"}}
                           </p>
                        </div>
                     </div>
                     {{#if tags}}
                     <div class="lg:col-span-4 lg:text-right">
                        {{#foreach tags visibility="public" limit="1"}}
                        <a href="{{url}}"
                           class="inline-block whitespace-nowrap px-8 py-2 text-sm font-medium text-white bg-blue-800 rounded-full hover:opacity-80 duration-300" style="background:{{accent_color}}">{{name}}</a>
                        {{/foreach}}
                     </div>
                     {{/if}}
                  </div>
               </div>
               {{/foreach}}
            </div>
         </div>
      </div>
   </div>
</section>
{{/if}}
{{/get}}
{{/match}}
{{#match style "two"}}
{{#get "posts" include="tags,authors" filter="tag:+[hash-blog]" limit="3"}}
{{#if posts}}
<section class="articles-area pt-20 xl:pt-28 ">
   <div class="container mx-auto">
      <div class="section-title text-center max-w-xl mx-auto mb-6 lg:mb-16">
         <h4 class="font-serif text-4xl lg:text-5xl text-gray-800 font-bold mb-6">{{t "Latest Blog"}}</h4>
         <p class="text-lg text-gray-400 font-normal">{{t "Explore the latest news, update and articles here"}} </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">        
      </div>
   </div>
   <div class="container mx-auto">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 posts" limit="3">
         {{#foreach posts }}
         {{> cards/card-post}}
         {{/foreach}}
      </div>
      <div class="mt-14 text-center">
         <a href="/blog" class="inline-block px-8 py-4 text-base font-medium text-blue-800 border border-blue-200 hover:bg-blue-50 rounded-full hover:text-blue-800 group duration-300">{{t "View all articles"}}</a>
      </div>
   </div>
   </div>
</section>
{{/if}}
{{/get}}
{{/match}}
