{{#if isSecondary}}
<ul class="grid gap-3 lg:gap-6 sm:grid-cols-2 lg:grid-cols-12 items-center">
   {{#foreach navigation}}
   <li class="lg:col-span-3">
      <p class=" text-base text-gray-800 hover:text-blue-800 font-normal  "> <a class="wavy-hover"
         href="{{url}}">{{label}}</a></p>
   </li>
   {{/foreach}}
</ul>
{{else}}
<ul class="navbar-nav lg:flex items-center" id="navigation-not-secondary">
   <!--
   {{#foreach navigation}}
   <li><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="{{url}}">
      {{label}} </a>
   </li>
   {{/foreach}}
   -->
   <li style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/product">
                Product </a>
            </li>
            <li class="menu-item-has-children" style="opacity: 1;">
                <a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="#">
                    Solutions  
                </a>
                <ul class="ghost-submenu">
                    <li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/unified-namespace">
                        Unified Namespace  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/open-source-historian">
                        Open-Source Historian  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/shop-floor-connectivity-infrastructure">
                        Shopfloor Connectivity  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/electronic-batch-recording">
                        Electronic Batch Recording (EBR)  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/energy-and-resource-optimization">
                        Energy Management  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/oee">
                        OEE and Condition Monitoring  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/digital-product-shadow">
                        Digital Shadow  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/solutions/digital-work-order-tulip">
                        Digital Work Orders (x Tulip)  </a>
                    </li>
                </ul>
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">            
                <path d="M1 0.866211L6.52874 6.86621L12.0575 0.866211" stroke="#202832" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </li>

            <li style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/pricing" style="padding-left: 2rem;">
                Pricing </a>
            </li>
            <li style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="/">
                Community </a>
            </li>
            <li class="menu-item-has-children" style="opacity: 1;">
                <a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="/" style="min-width: 9rem;">
                    Life at UMH  
                </a>
                <ul class="ghost-submenu">
                    <li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/about">
                        About Us  </a>
                    </li><li class="subitem" style="opacity: 1;"><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="https://www.umh.app/career">
                        Careers  </a>
                    </li>
                </ul>
                <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">            
                <path d="M1 0.866211L6.52874 6.86621L12.0575 0.866211" stroke="#202832" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </li>
</ul>
{{/if}}