{{#if isSecondary}}
<ul class="grid gap-3 lg:gap-6 sm:grid-cols-2 lg:grid-cols-12 items-center">
   {{#foreach navigation}}
   <li class="lg:col-span-3">
      <p class=" text-base text-gray-800 hover:text-blue-800 font-normal  "> <a class="wavy-hover"
         href="{{url}}">{{label}}</a></p>
   </li>
   {{/foreach}}
</ul>
{{else}}
<ul class="navbar-nav lg:flex items-center">
   {{#foreach navigation}}
   <li><a class="text-base text-gray-800 hover:text-blue-800 font-medium block   px-5  py-2  lg:py-2" href="{{url}}">
      {{label}} </a>
   </li>
   {{/foreach}}
</ul>
{{/if}}