
<nav class="{{nav_class}}" data-socials="{{data_value}}" x-data="socials">

  {{!-- Facebook --}}
  {{#if @site.facebook}}
    <a href="{{facebook_url}}" class="{{item_class}}" aria-label="Facebook">{{>icon name="facebook" icon_class=icon_class}}<span class="{{text_class}}">Facebook</span></a>
  {{/if}}

  {{!-- Twitter --}}
  {{#if @site.twitter}}
    <a href="{{twitter_url}}" class="{{item_class}}" aria-label="Twitter">{{>icon name="twitter-x" icon_class=icon_class}}<span class="{{text_class}}">Twitter</span></a>
  {{/if}}

  {{!-- RSS --}}
  <a :href="rss" :class="rss && '!block'" class="hidden {{item_class}}" aria-label="RSS">{{>icon name="rss" icon_class=icon_class}}<span class="{{text_class}}">RSS</span></a>

  {{!-- Threads --}}
  <a :href="threads" :class="threads && '!block'" class="hidden {{item_class}}" aria-label="Threads">{{>icon name="threads" icon_class=icon_class}}<span class="{{text_class}}">Threads</span></a>

  {{!-- Linkedin --}}
  <a :href="linkedin" :class="linkedin && '!block'" class="hidden {{item_class}}" aria-label="Linkedin">{{>icon name="linkedin" icon_class=icon_class}}<span class="{{text_class}}">Linkedin</span></a>

  {{!-- Discord --}}
  <a :href="discord" :class="discord && '!block'" class="hidden {{item_class}}" aria-label="Discord">{{>icon name="discord" icon_class=icon_class}}<span class="{{text_class}}">Discord</span></a>

  {{!-- Github --}}
  <a :href="github" :class="github && '!block'" class="hidden {{item_class}}" aria-label="Github">{{>icon name="github" icon_class=icon_class}}<span class="{{text_class}}">Github</span></a>

  {{!-- Instagram --}}
  <a :href="instagram" :class="instagram && '!block'" class="hidden {{item_class}}" aria-label="Instagram">{{>icon name="instagram" icon_class=icon_class}}<span class="{{text_class}}">Instagram</span></a>

  {{!-- Pinterest --}}
  <a :href="pinterest" :class="pinterest && '!block'" class="hidden {{item_class}}" aria-label="Pinterest">{{>icon name="pinterest" icon_class=icon_class}}<span class="{{text_class}}">Pinterest</span></a>

  {{!-- Reddit --}}
  <a :href="reddit" :class="reddit && '!block'" class="hidden {{item_class}}" aria-label="Reddit">{{>icon name="reddit" icon_class=icon_class}}<span class="{{text_class}}">Reddit</span></a>

  {{!-- Telegram --}}
  <a :href="telegram" :class="telegram && '!block'" class="hidden {{item_class}}" aria-label="Telegram">{{>icon name="telegram" icon_class=icon_class}}<span class="{{text_class}}">Telegram</span></a>

  {{!-- Tiktok --}}
  <a :href="tiktok" :class="tiktok && '!block'" class="hidden {{item_class}}" aria-label="Tiktok">{{>icon name="tiktok" icon_class=icon_class}}<span class="{{text_class}}">Tiktok</span></a>

  {{!-- Whatsapp --}}
  <a :href="whatsapp" :class="whatsapp && '!block'" class="hidden {{item_class}}" aria-label="Whatsapp">{{>icon name="whatsapp" icon_class=icon_class}}<span class="{{text_class}}">Whatsapp</span></a>

  {{!-- Youtube --}}
  <a :href="youtube" :class="youtube && '!block'" class="hidden {{item_class}}" aria-label="Youtube">{{>icon name="youtube" icon_class=icon_class}}<span class="{{text_class}}">Youtube</span></a>

</nav>

{{#contentFor "scripts"}}
  <script>
    window.socials = {
      rss: '/rss',
      threads: '',
      linkedin: '',
      discord: '',
      github: '',
      instagram: '',
      pinterest: '',
      reddit: '',
      telegram: '',
      tiktok: '',
      whatsapp: '',
      youtube: ''
    }

    document.addEventListener('alpine:init', () => {
      Alpine.data('socials', () => (window.socials))
    })
  </script>
{{/contentFor}}