{{#match style "one"}}
<section class="statistics-area overflow-hidden bg-blue-50 py-20 xl:py-28 mt-20 xl:mt-28">
   <div class="container mx-auto">
      <div class="statistics-box relative grid grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-0">
         <div
            class="relative text-center before:hidden before:border-blue-100 before:lg:block before:border-r before:absolute before:right-0 before:h-16 before:top-0 before:bottom-0 before:m-auto">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/topic}}
            </span>
            <h4 class="font-serif text-4xl lg:text-6xl text-gray-800 font-normal"> 
               {{#get "tags" include="count.posts" limit="all"}}
               {{#foreach tags }}
               {{#if @last}}{{@number}}+{{/if}}
               {{/foreach}}
               {{/get}}
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal mt-2">{{t "Topics Covered"}}</p>
         </div>
         <div
            class="relative text-center before:hidden before:border-blue-100 before:lg:block before:border-r before:absolute before:right-0 before:h-16 before:top-0 before:bottom-0 before:m-auto">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/course}}    
            </span>
            <h4 class="font-serif text-4xl lg:text-6xl text-gray-800 font-normal">
               {{#get "posts" filter="tag:hash-course" limit="all"}}
               {{posts.length}}+
               {{/get}}  
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal mt-2">{{t "Courses Created"}}</p>
         </div>
         <div class="relative text-center before:hidden before:border-blue-100 before:lg:block before:border-r before:absolute before:right-0 before:h-16 before:top-0 before:bottom-0 before:m-auto">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/upload}}    
            </span>
            <h4 class="font-serif text-4xl lg:text-6xl text-gray-800 font-normal">
               {{#get "posts" filter="tag:hash-lesson" limit="all"}}
               {{posts.length}}+
               {{/get}}    
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal mt-2">{{t "Lessons Uploaded"}}</p>
         </div>
         <div
            class="relative text-center ">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/article}}
            </span>
            <h4 class="font-serif text-4xl lg:text-6xl text-gray-800 font-normal">
               {{#get "posts" filter="tag:hash-blog" limit="all"}}
               {{posts.length}}+
               {{/get}}  
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal mt-2">{{t "Articles Published"}}</p>
         </div>
      </div>
   </div>
</section>
{{/match}}
{{#match style "two"}}
<section class="statistics-area overflow-hidden pt-20 xl:pt-28">
   <div class="container mx-auto">
      <div  class="statistics-box relative grid grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-0 py-8 lg:py-14 border-t border-b">
         <div
            class="relative text-center before:hidden before:lg:block before:border-r before:absolute before:right-0 before:h-16 before:top-0 before:bottom-0 before:m-auto">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/topic}}
            </span>
            <h4 class="font-serif text-2xl lg:text-4xl text-gray-800 font-normal">
               {{#get "tags" include="count.posts" limit="all"}}        
               {{#foreach tags }}
               {{#if @last}}{{@number}}+{{/if}}
               {{/foreach}}          
               {{/get}}
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal">{{t "Courses Created"}}</p>
         </div>
         <div
            class="relative text-center before:hidden before:lg:block before:border-r before:absolute before:right-0 before:h-16 before:top-0 before:bottom-0 before:m-auto">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/course}}    
            </span>
            <h4 class="font-serif text-2xl lg:text-4xl text-gray-800 font-normal">
               {{#get "posts" filter="tag:hash-course" limit="all"}}
               {{posts.length}}+
               {{/get}}  
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal">{{t "Courses Created"}}</p>
         </div>
         <div class="relative text-center">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/upload}}    
            </span>
            <h4 class="font-serif text-2xl lg:text-4xl text-gray-800 font-normal">
               {{#get "posts" filter="tag:hash-lesson" limit="all"}}
               {{posts.length}}+
               {{/get}}    
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal">{{t "Lessons Uploaded"}}</p>
         </div>
         <div
            class="relative text-center before:hidden before:lg:block before:border-r before:absolute before:right-0 before:h-16 before:top-0 before:bottom-0 before:m-auto">
            <span
               class="statistics-logo p-2 rounded-full w-16 h-16 inline-flex items-center justify-center mb-4">
            {{> icons/article}}
            </span>
            <h4 class="font-serif text-2xl lg:text-4xl text-gray-800 font-normal">
               {{#get "posts" filter="tag:hash-blog" limit="all"}}
               {{posts.length}}+
               {{/get}}  
            </h4>
            <p class="text-base leading-relaxed text-gray-400 font-normal">{{t "Articles Published"}}</p>
         </div>
      </div>
   </div>
</section>
{{/match}}