<li class="{{card_class}}" {{#if accent_color}}style="--color-accent:{{accent_color}}"{{/if}} data-tag-card>
  <a href="{{url}}" class="w-full h-full flex flex-col gap-2 rounded-theme-xs bg-bgr border border-brd p-4 lg:p-5 hover:bg-bgr-tone">
    {{#if feature_image}}
      <figure class="self-start mb-1">
        {{> image
          picture_class=""
          image_type="tag"
          image_class="size-12 object-cover aspect-1/1 rounded-theme-xxs"
          image_url=feature_image
          size_xs=true
          size_s=true
          sizes="48px"
        }}
      </figure>
    {{/if}}
    <h3 class="text-base md:text-lg font-medium{{#unless show_description}} flex-1{{/unless}}">{{name}}</h3>
    {{#if show_description}}
      <p class="text-typogr-tone font-light flex-1 text-sm mb-2">{{description}}</p>
    {{/if}}
    <p class="text-typogr-tone text-sm{{#if show_description}} self-start border border-brd px-2 py-0.5 rounded-theme-sm font-medium{{/if}}">
      {{plural count.posts empty=(t 'No posts') singular=(t '1 post') plural=(t '% posts')}}
    </p>
  </a>
</li>