{{!< default}}
<div class="hero-area relative pt-20">
    <div class="container mx-auto">
        <div class="hero-box-3 relative grid gap-6 grid-cols-1 lg:grid-cols-12 items-center text-center lg:text-left">
            <div class="lg:col-span-8">
                <div class="hero-content lg:flex flex-wrap text-center lg:text-left relative lg:pr-14">
                    <h4 class="font-serif !leading-normal text-4xl lg:text-6xl text-gray-800 font-bold mb-6">{{t "Blog"}}</h4>
                    {{#if @site.description}}
                    <p class="text-xl text-gray-400 font-normal">{{@site.description}}</p>
                    {{/if}}
                </div>
            </div>
            {{#if cover_image}}
            <div class="lg:col-span-4">
                <div class="feature-image relative" data-aos="fade" data-aos-delay="100">
                    <img class="w-full rounded-xl" src="{{img_url cover_image}}" alt="{{@site.title}}">
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<section class="course-area py-20 xl:py-28">
    <div class="container mx-auto">
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 posts">
            {{#foreach posts limit="all"}}
            {{> cards/card-post}}
            {{/foreach}}
        </div>
        {{pagination}}
    </div>
</section>
