{{!< default}}
{{> preloader}}
{{#post}}
{{> hero-section course_style="one"}}
<script> let tiersID = []; </script>
<section class="lesson-area py-20">
   <div class="course-page-content gh-content gh-canvas pb-20 xl:pb-20  max-w-4xl mx-auto">
      {{content}}
   </div>
   <div class="gh-canvas  max-w-4xl mx-auto">
      <div class="lesson-plan-block  mb-10  ">
         <h3 class="font-serif text-2xl lg:text-4xl text-gray-800 font-bold  text-center pb-3">{{t "Course Lessons"}}</h3>
         <p class=" text-xl  text-gray-400   mb-10  text-center">{{t "Here following the lesson list for that course"}}</p>
      </div>
      {{#foreach tags visibility="internal" limit="1"}}
      {{#get "posts" include ="tags,authors,tiers" filter="tag:{{slug}}+tag:hash-course"}}
      {{#if posts}}
      {{#foreach posts }} 
      {{#foreach tiers}}
      <script> tiersID.push("#id-{{id}}"); </script>
      {{/foreach}} 
      {{/foreach}}
      {{/if}}
      {{/get}}
      {{#get "posts" filter="tag:[hash-lesson]+tag:{{slug}}" order="published_at asc" include="tags,authors"}}
      {{#if posts}}
      {{#foreach posts }}
      {{#if access}}
      <a href="{{url}}">{{> lessonbox}}</a>
      {{else}}
      <a class="modal-open" href="#"> {{> lessonbox}} </a>
      {{/if}}
      {{/foreach}}
      {{else}}
      <div class="lesson-box-2 rounded-lg hover:shadow-lg duration-300 p-6 flex justify-between items-center group">
         <h3>{{t "Nothing published yet for this course"}}</h3>
      </div>
      {{/if}}
      {{/get}}
      {{/foreach}}
   </div>
</section>
{{/post}}
<script>console.log(tiersID); </script>
{{> membership-modal}}