{{!< default}}
{{> preloader}}
{{#post}}
{{> hero-section course_style="micro-course"}}
<script> let tiersID = []; </script>
<section class="single-area py-20">
   <div class="container mx-auto">
      <div class="grid lg:grid-cols-12 gap-8">
         <div class="lg:col-span-8">
            <div class="gh-content gh-canvas pb-12">
               {{content}}
               {{!-- Code for the Enroll Button Fixing --}}
               {{#foreach tags visibility="internal" limit="1"}}
               {{#get "posts" include ="tags,authors" limit="2" filter="id:-{{id}}+tag:{{primary_tag.slug}}"}}
               {{#if posts}}
                <div class="related-lesson">
                   <div class="section-title max-w-lg mb-8">
                      <h2 class="font-serif text-2xl lg:text-4xl text-gray-800 font-bold  mb-6">{{t "Related Articles"}}</h2>
                   </div>
                   <div class="grid sm:grid-cols-2  gap-8">
                      {{#foreach posts}}
                      {{> cards/card-post}}
                      {{/foreach}}
                   </div>
                </div>
               {{/if}}
               {{/get}}
               {{/foreach}}
            </div>
            <div class="gh-canvas">
               {{!-- {{> page-navigation}} --}}
            </div>
         </div>
         <div class="lg:col-span-4">
            <div class="sidebar rounded-lg sticky top-32 p-8 shadow hover:shadow-lg duration-300">
               <span class="inline-block font-serif text-xl text-gray-800 font-bold mb-8">{{t "Table of Content"}}</span>
               <div class="mb-8 gh-toc">
               </div>
               {{> social-share style="one"}}
            </div>
         </div>
      </div>
   </div>
</section>
{{/post}}
{{> membership-modal}}
<link rel="stylesheet" href="{{asset 'css/tocbot.css'}}" />
<script src="{{asset 'js/tocbot.min.js'}}"></script>
<script>
   tocbot.init({
      tocSelector: '.gh-toc',
      contentSelector: '.gh-content',
      headingSelector: 'h2, h3, h4, h5',
      // For headings inside relative or absolute positioned containers within content.
      ignoreSelector: '.text-2xl, .text-xl, .js-no-anchor, .gh-post-upgrade-cta-content',
      headingsOffset: 100,
      scrollSmoothOffset: -100,
   });
   tocbot.refresh();
   
   $("li.toc-list-item a").on('click', function(e){
      e.preventDefault();
   });
   
   if($('li.toc-list-item').length <= 0){
      $('.sidebar.sticky').remove();
   }
</script>
