<!DOCTYPE html>
<html lang="{{@site.locale}}">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{meta_title}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="assets/images/favicon.ico" type="images/x-icon" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
      {{!-- gulp:css --}}
      <link rel="stylesheet" href="{{asset 'css/app.min.css'}}">
      {{!-- endgulp  --}}
      {{> ghost-dynamic-style}}   
      {{ghost_head}}
   </head>
   <body class="bg-white {{body_class}} overflow-x-hidden">

         {{{body}}}

      {{!-- gulp:js  --}}
    <script src="{{asset 'js/jquery.min.js'}}"></script>
      <script src="{{asset 'js/build.min.js'}}"></script>
      {{!-- endgulp  --}}  
      {{ghost_foot}}
   </body>
</html>