{{!< default}}
{{#tag}}
<div class="hero-area relative pt-20  topic-{{@number}}">
   <div class="container mx-auto">
      <div class="page-title-box">
         <div class="section-title max-w-4xl ">
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="all"}}
            {{#contentFor "postCount"}}
            <p class="post-count text-base !leading-normal text-gray-400 mb-2 ">{{plural posts.length empty='No posts
               available' singular='Total % post available' plural='Total % posts available'}} 
            </p>
            {{/contentFor}}
            {{#contentFor "courseCount"}}
            <p class="mb-2 text-sm px-3 py-1  bg-blue-800 text-white rounded inline-block ">{{plural posts.length empty='No Courses available' singular='Total % Course available' plural='Total % Courses available'}} </p>
            {{/contentFor}}
            {{#foreach posts limit="1"}}
            {{#has tag="#blog"}}
            {{{block "postCount"}}}
            {{else}}
            {{{block "courseCount"}}}
            {{/has}}
            {{/foreach}}
            {{/get}}
            <h4 class="tag-name font-serif text-4xl lg:text-5xl text-gray-800 font-bold ">{{name}}</h4>
            {{#if description}}
            <p class="tag-description text-lg text-gray-400 !leading-normal font-normal pt-8">{{description}}</p>
             {{/if}}
         </div>
      </div>
   </div>
</div>
{{/tag}}
<section class="course-area py-20 ">
   <div class="container mx-auto">
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 posts">
         {{#foreach posts}}
         {{#has tag="#blog"}}
         {{> cards/card-post}}
         {{else}}
         {{> cards/card-course}}
         {{/has}}
         {{/foreach}}
      </div>
      {{pagination}}
   </div>
</section>