<div class="{{post_class}} postitem">
   <div class="post-box-1 h-full rounded-lg border hover:border-white  bg-white hover:shadow-lg hover:-translate-y-1 group p-6 duration-300">
      <div class="feature-image mb-6 rounded-lg overflow-hidden relative">
 {{#if featured}}
 <div class="absolute featured-badge z-50 bg-white px-3 py-1 top-3 right-3 rounded-md text-sm">
{{t "Featured"}}
 </div>
 {{/if}}

         <a href="{{url}}">
         <img class="w-full h-60 object-cover group-hover:scale-105 duration-300"
            src="{{#if feature_image}}/cdn-cgi/image/height=240,quality=80/{{img_url feature_image}}{{else}}{{asset 'images/prev.png'}}{{/if}}"
            alt="{{title}}">
         </a>
         {{#get "posts" include="count.posts" }}
         <div
            class="absolute group-hover:bottom-2 -bottom-28 -right-4 inline-block text-base text-white font-bold bg-size-200 bg-pos-0 hover:bg-pos-100 transition-all duration-300 py-2 px-6">
            <!-- {{> course-share}} -->
         </div>
         {{/get}}
      </div>
      <div class="course-content">
         <h4 class="font-serif text-xl text-gray-800 hover:text-blue-800 font-bold mb-6 duration-300">
            <a href="{{url}}">{{title}}</a>
         </h4>
         {{#primary_author}}
         <div class="author flex items-center">
            {{#if profile_image}}
            <img class="w-10 h-10 rounded-full object-cover" src="{{img_url profile_image}}" alt="{{name}}">
            {{/if}}
            <div class="course-content ml-2">
               <h6 class="font-serif text-base text-gray-800 hover:text-blue-800 font-bold duration-300">
                  <a href="{{url}}">{{name}}</a>
               </h6>
               {{#if location}}
               <p class="text-sm text-gray-400 font-normal opacity-60">{{location}}</p>
               {{/if}}
            </div>
         </div>
         {{/primary_author}}
      </div>
   </div>
</div>
