<div class="nav-absolute-wrapper on-bright-bg is-transparent">
    <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease"
        data-easing2="ease" role="banner" class="nav_component w-nav">
        <div class="padding-global">
            <div class="nav_container">
                <a href="https://www.umh.app/" class="nav_brand w-nav-brand">
                    <div class="nav_logo w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="100%" viewbox="0 0 48 64" fill="none"> <path d="M37.4515 42.4066L23.6851 50.0707L9.91869 42.4066V28.2441H5.02124V43.8624C5.02124 44.7493 5.50652 45.5693 6.28186 46.0044L22.3464 54.9291C22.709 55.1299 23.1161 55.2359 23.5345 55.2359H23.8134C24.2317 55.2359 24.6389 55.1299 25.0015 54.9291L41.0716 46.0044C41.8469 45.5693 42.3266 44.7493 42.3266 43.8624V28.2441H37.4292L37.4515 42.4066V42.4066Z" fill="currentColor"></path> <path d="M41.1061 18.2538L25.0249 9.30679C24.6567 9.1004 24.2384 9 23.8145 9H23.5132C23.0949 9 22.6877 9.10598 22.3251 9.30679L6.26062 18.2315C5.48528 18.661 5 19.481 5 20.3679V22.0413H9.46237L23.6862 14.1652L37.8709 22.0636L42.3333 22.0134V20.3902C42.3389 19.5089 41.8703 18.6945 41.1061 18.2538V18.2538Z" fill="currentColor"></path> </svg></div>
                </a>
                <nav role="navigation" class="nav_menu w-nav-menu">
                    <div class="nav_menu_links-wrapper">
                        <a href="https://www.umh.app/product" class="nav_menu_link w-nav-link">Product</a>
                        <div data-hover="true" data-delay="0" class="nav_menu_dropdown w-dropdown">
                            <div class="nav_menu_link is-dropdown-toggle w-dropdown-toggle">
                                <div>Solutions</div>
                                <div class="nav_menu_dropdown-icon w-embed"><svg width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.749634 1.18201L5.93164 6.36401L11.1136 1.18201" stroke="currentColor" stroke-width="1.5"></path> </svg></div>
                            </div>
                            <nav class="nav_menu_dropdown-list w-dropdown-list">
                                <div class="nav_menu_dropdown-link-rows-wrapper">
                                    <div class="nav_menu_dropdown-links-column">
                                        <a href="https://www.umh.app/solutions/unified-namespace"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Unified-Namespace.svg'}}" loading="eager" alt=""
                                                class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Unified Namespace <span class="text-color-secondary">increases use case implementation speed</span></div>
                                        </a>
                                        <a href="https://www.umh.app/solutions/open-source-historian"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Open-Source-Historian.svg'}}" loading="eager"
                                                alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate"> Open-source Historian <span  class="text-color-secondary">reduces license cost</span>
                                            </div>
                                        </a>
                                        <a href="https://www.umh.app/solutions/shop-floor-connectivity-infrastructure"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Shopfloor-Connectivity.svg'}}" loading="eager"
                                                alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Shopfloor Connectivity <span class="text-color-secondary">increases production transparency</span></div>
                                        </a>
                                        <a href="https://www.umh.app/solutions/electronic-batch-recording"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Electronic-Batch-Recoding-EBR.svg'}}"
                                                loading="eager" alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Electronic Batch Recoding (EBR) <span class="text-color-secondary">improves quality compliance</span></div>
                                        </a>
                                    </div>
                                    <div class="nav_menu_dropdown-links-column">
                                        <a href="https://www.umh.app/solutions/energy-and-resource-optimization"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block">
                                            <img src="{{asset 'vendor/images/Energy-Management.svg'}}" loading="eager" alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Energy Management <span class="text-color-secondary">reduces utilities cost</span></div>
                                        </a>
                                        <a href="https://www.umh.app/solutions/oee"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block">
                                            <img src="{{asset 'vendor/images/OEE-and-Condition-Monitoring.svg'}}" loading="eager" alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">OEE and Condition Monitoring <span class="text-color-secondary">increases asset productivity</span></div>
                                        </a>
                                        <a href="https://www.umh.app/solutions/digital-product-shadow"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block">
                                            <img src="{{asset 'vendor/images/Digital-Shadow.svg'}}" loading="eager" alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Digital Shadow <span class="text-color-secondary">traces product quality</span>
                                            </div>
                                        </a>
                                        <a href="https://www.umh.app/solutions/digital-work-order-tulip" class="nav_menu_dropdown-link is-solution-link w-inline-block">
                                            <img src="{{asset 'vendor/images/Digital-Work-Orders.svg'}}" loading="eager" alt="" class="icon-1x1-xlarge">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Digital Work Orders (x Tulip) <span class="text-color-secondary">optimizes manual labor</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div data-hover="true" data-delay="0" class="nav_menu_dropdown w-dropdown">
                            <div class="nav_menu_link is-dropdown-toggle w-dropdown-toggle">
                                <div>Industries</div>
                                <div class="nav_menu_dropdown-icon w-embed"><svg width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.749634 1.18201L5.93164 6.36401L11.1136 1.18201" stroke="currentColor" stroke-width="1.5"></path> </svg></div>
                            </div>
                            <nav class="nav_menu_dropdown-list w-dropdown-list">
                                <div class="nav_menu_dropdown-link-rows-wrapper">
                                    <div class="nav_menu_dropdown-links-column grid">
                                        <a href="https://www.umh.app/industry/automotive"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Group_1.svg'}}" loading="eager" alt=""
                                                class="icon-1x1-xlarge mobile-3">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Automotive
                                                <span class="text-color-secondary">Enhance production efficiency and ensure quality control.</span></div>
                                        </a>
                                        <a id="w-node-ba1798c1-6234-f7fd-4100-959154cff8e8-a1d42c5f"
                                            href="https://www.umh.app/industry/food-and-beverage"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Vector-7.svg'}}" loading="eager" alt=""
                                                class="icon-1x1-xlarge mobile-3">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Food and Beverage <span class="text-color-secondary">Improve food safety and streamline production</span></div>
                                        </a>
                                        <a href="https://www.umh.app/industry/pharma"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Vector-8.svg'}}" loading="eager" alt=""
                                                class="icon-1x1-xlarge mobile-3">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Pharmaceutical <span class="text-color-secondary">Ensure regulatory compliance and enhance batch traceability</span></div>
                                        </a>
                                        <a href="https://www.umh.app/industry/chemical"
                                            class="nav_menu_dropdown-link is-solution-link w-inline-block"><img
                                                src="{{asset 'vendor/images/Group-1_1.svg'}}" loading="eager" alt=""
                                                class="icon-1x1-xlarge mobile-3">
                                            <div class="nav_menu_dropdown-link-text is-alternate">Chemical
                                                <span class="text-color-secondary">Optimize process operations and improve safety protocols</span></div>
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <a href="https://www.umh.app/pricing" class="nav_menu_link w-nav-link">Pricing</a>
                        <a href="https://learn.umh.app/" target="_blank"
                            class="nav_menu_link w-nav-link">Community</a>
                        <div data-hover="true" data-delay="0" class="nav_menu_dropdown w-dropdown">
                            <div class="nav_menu_link is-dropdown-toggle w-dropdown-toggle">
                                <div>Life at UMH</div>
                                <div class="nav_menu_dropdown-icon w-embed"><svg width="12" height="8" viewbox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0.749634 1.18201L5.93164 6.36401L11.1136 1.18201" stroke="currentColor" stroke-width="1.5"></path> </svg></div>
                            </div>
                            <nav class="nav_menu_dropdown-list w-dropdown-list">
                                <div class="nav_menu_dropdown-link-rows-wrapper">
                                    <div class="nav_menu_dropdown-links-column">
                                        <a href="https://www.umh.app/about" class="nav_menu_dropdown-link w-inline-block">
                                            <div class="icon-1x1-large w-embed"><svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M28.1674 26.3942L19.6121 31.1572L11.0568 26.3942V17.5928H8.01318V27.299C8.01318 27.8501 8.31477 28.3597 8.79661 28.6301L18.7801 34.1765C19.0054 34.3013 19.2585 34.3671 19.5185 34.3671H19.6918C19.9518 34.3671 20.2048 34.3013 20.4302 34.1765L30.4171 28.6301C30.899 28.3597 31.1971 27.8501 31.1971 27.299V17.5928H28.1535L28.1674 26.3942V26.3942Z" fill="url(#paint0_linear_8_185)"></path> <path d="M30.4386 11.3842L20.4447 5.82396C20.2159 5.6957 19.9559 5.6333 19.6925 5.6333H19.5053C19.2453 5.6333 18.9923 5.69916 18.7669 5.82396L8.78343 11.3703C8.30159 11.6373 8 12.1468 8 12.698V13.738H10.7732L19.6128 8.84327L28.428 13.7518L31.2012 13.7206V12.7119C31.2047 12.1642 30.9135 11.6581 30.4386 11.3842V11.3842Z" fill="url(#paint1_linear_8_185)"></path> <defs> <lineargradient id="paint0_linear_8_185" x1="8.01318" y1="25.98" x2="31.1971" y2="25.98" gradientunits="userSpaceOnUse"> <stop offset="0.11" stop-color="#DAF8FF"></stop> <stop offset="0.505" stop-color="#25535E"> </stop> <stop offset="0.81" stop-color="#75D3E9"></stop> <stop offset="1" stop-color="white"></stop> </lineargradient> <lineargradient id="paint1_linear_8_185" x1="8" y1="9.69257" x2="31.2013" y2="9.69257" gradientunits="userSpaceOnUse"> <stop offset="0.11" stop-color="#DAF8FF"></stop> <stop offset="0.505" stop-color="#25535E"> </stop> <stop offset="0.81" stop-color="#75D3E9"></stop> <stop offset="1" stop-color="white"></stop> </lineargradient> </defs> </svg></div>
                                            <div class="nav_menu_dropdown-link-text">About us</div>
                                        </a>
                                        <a href="https://www.umh.app/career" class="nav_menu_dropdown-link w-inline-block">
                                            <div class="icon-1x1-large w-embed"><svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M27.1923 4.62085C27.5932 4.49521 28.0266 4.67376 28.2224 5.04532L28.3508 5.28876C30.3983 9.1722 30.6151 13.7645 28.9425 17.8236L26.2885 24.2647L28.2899 27.6304C28.4298 27.866 28.4508 28.1535 28.3465 28.4067L25.0314 36.452C24.8483 36.8964 24.3396 37.1081 23.8953 36.925C23.4509 36.7419 23.2392 36.2334 23.4223 35.789L26.5717 28.1459L25.4597 26.276L21.8131 35.1259C21.63 35.5702 21.1215 35.782 20.677 35.5989L11.0227 31.6208C10.5784 31.4377 10.3666 30.929 10.5497 30.4848L14.1963 21.6349L12.0899 22.1787L8.94054 29.8217C8.75741 30.2662 8.24882 30.4778 7.80449 30.2948C7.36017 30.1117 7.14834 29.6031 7.33147 29.1587L10.6466 21.1134C10.7509 20.8603 10.9684 20.6709 11.2336 20.6023L15.025 19.6236L17.6791 13.1825C19.3517 9.12336 22.7408 6.0169 26.9298 4.70325L27.1923 4.62085ZM12.4902 30.3433L20.5355 33.6583L27.3335 17.1606C28.7512 13.72 28.6305 9.84538 27.0172 6.50802C23.5212 7.74009 20.7059 10.4049 19.2882 13.8455L12.4902 30.3433Z" fill="url(#paint0_linear_8_187)"></path> <defs> <lineargradient id="paint0_linear_8_187" x1="12.9671" y1="15.4816" x2="30.6671" y2="22.7749" gradientunits="userSpaceOnUse"> <stop offset="0.11" stop-color="#DAF8FF"></stop> <stop offset="0.505" stop-color="#25535E"> </stop> <stop offset="0.81" stop-color="#75D3E9"></stop> <stop offset="1" stop-color="white"></stop> </lineargradient> </defs> </svg></div>
                                            <div class="nav_menu_dropdown-link-text">Careers</div>
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="nav_menu_mobile-button-wrapper">
                            <a href="https://www.umh.app/call" target="_blank" class="button is-nav w-button">Book a
                                call</a>
                            <a aria-roledescription="open-modal-trigger"
                                class="button is-nav-secondary w-inline-block" href="#" role="button"
                                aria-haspopup="dialog" aria-controls="fs-modal-2-popup"
                                fs-modal-element="open-1" aria-expanded="false" tabindex="0">
                                <div>Get started</div>
                            </a>
                        </div>
                    </div>
                    <div class="nav_desktop-buttons-wrapper">
                        <div class="fs_modal-2_component">
                            <a aria-roledescription="open-modal-trigger"
                                class="button is-nav-secondary w-inline-block" href="#" role="button"
                                aria-haspopup="dialog" aria-controls="fs-modal-2-popup"
                                fs-modal-element="open-1" aria-expanded="false" tabindex="0">
                                <div>Get started</div>
                            </a>
                            <div id="fs-modal-2-popup" fs-modal-element="modal-1" role="dialog"
                                aria-modal="true" aria-labelledby="fs-modal-2-heading"
                                class="fs_modal-2_popup">
                                <div aria-hidden="true" fs-modal-element="close-1" class="fs_modal-2_cover">
                                </div>
                                <div class="fs_modal-2_wrapper">
                                    <div class="fs_modal-2_content">
                                        <div id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea625-a1d42c5f"
                                            class="fs_modal-2_icon-wrapper">
                                            <div id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea626-a1d42c5f"
                                                class="icon-1x1-xxlarge w-embed"><svg viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect fill="white"></rect> <path d="M8.46484 22.9507V25.0009C8.46484 25.3021 8.70894 25.5462 9.01008 25.5462C9.31122 25.5462 9.55532 25.3021 9.55532 25.0009V22.7979C9.55532 20.8815 11.2365 19.3506 13.2018 19.6024C14.8262 19.8105 16.0007 21.2717 16.0007 22.9094V23.0222C15.74 23.5998 15.5918 24.2372 15.5918 24.9008V30.9847C15.5918 31.2858 15.8359 31.5299 16.137 31.5299C16.4382 31.5299 16.6823 31.2858 16.6823 30.9847V24.7483C16.6823 22.8318 18.3636 21.3008 20.3291 21.5528C21.9537 21.7611 23.1282 23.2225 23.1282 24.8605V30.9847C23.1282 31.2858 23.3723 31.5299 23.6734 31.5299C23.9746 31.5299 24.2187 31.2858 24.2187 30.9847V24.7483C24.2187 24.0961 24.0699 23.4792 23.8097 22.9245V22.7979C23.8097 20.8811 25.4915 19.3499 27.4568 19.6025C29.0812 19.8113 30.2551 21.2729 30.2551 22.9106V25.0009C30.2551 25.3021 30.4992 25.5462 30.8004 25.5462C31.1015 25.5462 31.3456 25.3021 31.3456 25.0009V22.7979C31.3456 21.1249 30.3863 19.674 28.9904 18.9591C29.8828 18.3376 30.4692 17.3057 30.4692 16.1382C30.4692 14.2431 28.9272 12.7014 27.0322 12.7014C25.1372 12.7014 23.5952 14.2431 23.5952 16.1382C23.5952 17.3102 24.1857 18.3458 25.0839 18.9664C24.0378 19.5189 23.2494 20.4998 22.9076 21.6585C22.6 21.3596 22.2486 21.1068 21.8634 20.9094C22.7558 20.288 23.3422 19.2561 23.3422 18.0886C23.3422 16.1933 21.8002 14.6515 19.9052 14.6515C18.0102 14.6515 16.4682 16.1933 16.4682 18.0886C16.4682 19.2606 17.0588 20.2962 17.9569 20.9168C17.5797 21.116 17.2372 21.3716 16.9358 21.6708C16.6148 20.4886 15.8061 19.5073 14.7363 18.9592C15.6288 18.3378 16.2153 17.3058 16.2153 16.1382C16.2153 14.2431 14.6733 12.7014 12.7783 12.7014C10.8833 12.7014 9.34127 14.2431 9.34127 16.1382C9.34127 17.3102 9.93183 18.3458 10.83 18.9664C9.41139 19.7156 8.46484 21.2533 8.46484 22.9507ZM27.0322 13.7919C28.326 13.7919 29.3787 14.8446 29.3787 16.1382C29.3787 17.432 28.326 18.4847 27.0322 18.4847C25.7383 18.4847 24.6856 17.432 24.6856 16.1382C24.6856 14.8446 25.7383 13.7919 27.0322 13.7919ZM19.9052 15.742C21.1991 15.742 22.2518 16.7947 22.2518 18.0886C22.2518 19.3824 21.1991 20.4351 19.9052 20.4351C18.6114 20.4351 17.5587 19.3824 17.5587 18.0886C17.5587 16.7947 18.6114 15.742 19.9052 15.742ZM12.7783 13.7919C14.0722 13.7919 15.1248 14.8446 15.1248 16.1382C15.1248 17.432 14.0722 18.4847 12.7783 18.4847C11.4844 18.4847 10.4317 17.432 10.4317 16.1382C10.4317 14.8446 11.4844 13.7919 12.7783 13.7919Z" fill="url(#paint0_linear_163_751)"></path> <path d="M35.4103 18.9042C34.9392 11.4126 29.0298 5.23156 21.5641 4.45071C16.4185 3.91253 11.4794 5.89736 8.16083 9.72876C7.96053 9.96001 7.99883 10.315 8.23694 10.507L8.23791 10.5078C8.4681 10.6935 8.79938 10.6568 8.99323 10.4334C12.152 6.79359 16.8836 4.94952 21.7846 5.57423C28.5885 6.44147 33.9049 12.1535 34.3236 18.9997C34.8436 27.5021 27.9638 34.5642 19.5234 34.3469C12.1374 34.1567 5.97952 28.2648 5.48687 20.8928C5.27798 17.7671 6.06115 14.7265 7.72572 12.1279C7.88545 11.8786 7.82698 11.5499 7.58362 11.3813C7.3319 11.2068 6.97988 11.2703 6.81448 11.5281C4.88293 14.5383 4.05123 18.1001 4.46857 21.7346C5.28034 28.8045 10.9528 34.4955 18.0199 35.3308C27.7643 36.4825 36.0169 28.5511 35.4103 18.9042Z" fill="url(#paint1_linear_163_751)"></path> <defs> <lineargradient id="paint0_linear_163_751" x1="8.46484" y1="22.1157" x2="31.3456" y2="22.1157" gradientunits="userSpaceOnUse"> <stop offset="0.11" stop-color="#DAF8FF"></stop> <stop offset="0.505" stop-color="#25535E"> </stop> <stop offset="0.81" stop-color="#75D3E9"></stop> <stop offset="1" stop-color="white"></stop> </lineargradient> <lineargradient id="paint1_linear_163_751" x1="4.36328" y1="19.903" x2="35.4418" y2="19.903" gradientunits="userSpaceOnUse"> <stop offset="0.11" stop-color="#DAF8FF"></stop> <stop offset="0.505" stop-color="#25535E"> </stop> <stop offset="0.81" stop-color="#75D3E9"></stop> <stop offset="1" stop-color="white"></stop> </lineargradient> </defs> </svg></div>
                                        </div>
                                        <div id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea627-a1d42c5f">
                                            Getting started</div>
                                        <div id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea629-a1d42c5f"
                                            class="margin-bottom margin-small">
                                            <h3 id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea62a-a1d42c5f">
                                                Start with the Community Edition</h3>
                                        </div>
                                        <div id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea62c-a1d42c5f"
                                            class="margin-top">
                                            <div id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea62d-a1d42c5f"
                                                class="max-width-small">
                                                <p id="w-node-_3db82be5-69a4-c813-0c15-bcc0168ea62e-a1d42c5f"> We highly believe that Open-Source should be available for everybody which is why we created the Community Edition for everyone to get started.</p>
                                            </div>
                                            <div class="getting-started_buttons-wrappper">
                                                <a href="http://management.umh.app?utm_source=get-started&amp;utm_medium=Website&amp;utm_campaign=Pop-up-window&amp;utm_term=header"
                                                    class="button is-ghost w-button">Get Started</a>
                                                <a href="https://www.umh.app/call" class="button w-button">Book a call</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div aria-expanded="false" fs-modal-element="close-1" role="button"
                                        tabindex="0" aria-label="Close modal"
                                        aria-controls="fs-modal-2-popup"
                                        aria-roledescription="close-modal-trigger" class="fs_modal-2_close">
                                        <div class="fs_modal-2_close-icon w-embed"><svg
                                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                                viewbox="0 0 24 24">
                                                <path fill="CurrentColor"
                                                    d="M14.5,12l9-9c0.7-0.7,0.7-1.8,0-2.5c-0.7-0.7-1.8-0.7-2.5,0l-9,9l-9-9c-0.7-0.7-1.8-0.7-2.5,0 c-0.7,0.7-0.7,1.8,0,2.5l9,9l-9,9c-0.7,0.7-0.7,1.8,0,2.5c0.7,0.7,1.8,0.7,2.5,0l9-9l9,9c0.7,0.7,1.8,0.7,2.5,0 c0.7-0.7,0.7-1.8,0-2.5L14.5,12z">
                                                </path>
                                            </svg></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="https://www.umh.app/call" target="_blank" class="button is-nav w-button">Book a call</a>
                    </div>
                </nav>
                <div class="nav_button w-nav-button">
                    <div class="nav_button-icon">
                        <div class="nav_button-icon-line is-top"></div>
                        <div class="nav_button-icon-line is-middle"></div>
                        <div class="nav_button-icon-line is-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav_dark-bg"></div>
</div>